{% extends 'base.html' %}



{% block content %}
<div class="container-fluid">
    <h1 class="headline text-center pb-3">All Food Items </h1>
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Food Name</th>
                <th scope="col">Calorie</th>
                <th scope="col">Carbs</th>
                <th scope="col">Fat</th>
                <th scope="col">Protein</th>
            </tr>
        </thead>
        <tbody>
            {% for food in fooditems %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.calorie }}</td>
                <td>{{ food.carbs }}</td>
                <td>{{ food.fat }}</td>
                <td>{{ food.protein }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}